## Bank Marketing Case

### Conectando o Drive com banco de dados

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.neighbors import NearestNeighbors

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Criando um DataFrame do banco de dados

In [ ]:
df_bank = pd.read_csv('/content/drive/MyDrive/Colab/Data Science/Datasets/bank_marketing.csv')

In [ ]:
df_bank

     age  balance  duration
0     37     4760       182
1     30     -393       435
2     32     2979       156
3     30     1185       284
4     42      221       720
..   ...      ...       ...
395   47      477       973
396   40     4795        57
397   42      216       144
398   36     2880       283
399   31      202       146

[400 rows x 3 columns]

### Importando a biblioteca Neighbors do Sklearn para encontrar quem são as pessoas mais próximas de mim

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
# primeiro precisa fitar, para ele conheça todos os dados que tem grupos de 7 pessoas

nbrs = NearestNeighbors(metric='euclidean', n_neighbors=7).fit(df_bank)

### Criando algumas variáveis

In [ ]:
age = 35
balance = 200
duration = 30

### Encontre para mim quem são os K-Vizinhos (7) dessas variáveis que criei

##### A resposta vai retornar dois valores: a distância e os índices (distances e indices)

In [ ]:
distances, indices = nbrs.kneighbors([[age, balance, duration]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
distances

array([[115.32996142, 116.08617489, 118.52847759, 118.96638181,
        121.17342943, 121.82364303, 124.65953634]])

In [ ]:
indices[0]

array([397, 399, 374,  56, 128, 337, 111])

In [ ]:
resultado = df_bank.iloc[indices[0]]

In [ ]:
# aqui estão os 7 que parecem comigo, sem estar normalizado

resultado

     age  balance  duration
397   42      216       144
399   31      202       146
374   37      189       148
56    50      202       148
128   44      221       149
337   35      221       150
111   45      192       154

### Normalizando com Standard Scale

In [ ]:
scaler = StandardScaler()

In [ ]:
for coluna in df_bank.columns:
  scaled = scaler.fit_transform(df_bank[[coluna]])
  df_bank[coluna+'_scl'] = scaled

In [ ]:
df_bank

     age  balance  duration   age_scl  balance_scl  duration_scl
0     37     4760       182 -0.430437     0.199343     -0.511511
1     30     -393       435 -1.037909    -0.925344      0.657974
2     32     2979       156 -0.864346    -0.189375     -0.631695
3     30     1185       284 -1.037909    -0.580931     -0.040019
4     42      221       720  0.003471    -0.791333      1.975377
..   ...      ...       ...       ...          ...           ...
395   47      477       973  0.437380    -0.735459      3.144861
396   40     4795        57 -0.170092     0.206982     -1.089319
397   42      216       144  0.003471    -0.792424     -0.687164
398   36     2880       283 -0.517219    -0.210983     -0.044641
399   31      202       146 -0.951127    -0.795480     -0.677919

[400 rows x 6 columns]

In [ ]:
nbrs = NearestNeighbors(metric='euclidean', n_neighbors=7).fit(df_bank[['age_scl',	'balance_scl',	'duration_scl']])

In [ ]:
# minhas variáveis - minha pessoa

age = 35
balance = 1000
duration = 30

In [ ]:
distances, indices = nbrs.kneighbors([[age, balance, duration]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
resultado = df_bank.iloc[indices[0]]

In [ ]:
# aqui ele errou, porque essas novas variáveis não foram normalizadas 

resultado

     age  balance  duration   age_scl  balance_scl  duration_scl
256   56    16873       223  1.218415     2.843111     -0.321989
139   67    16353       223  2.173014     2.729616     -0.321989
177   58    16264       215  1.391978     2.710191     -0.358969
207   57    16063       352  1.305197     2.666321      0.274309
136   36    16430       197 -0.517219     2.746422     -0.442174
88    44    16178       297  0.177035     2.691421      0.020073
140   70    15834       172  2.433359     2.616340     -0.557735